body {
	margin:0;
	padding:0;
	font-family: 'Nothing You Could Do', Helvetica;
	padding-top: 0;
}


.subtitle {
	color:white;
	font-size: 30px;
	margin-bottom: 10px;
}

.index-btns {
	float:right;
}

.listings {
	width:100%; 
	height:100%;
	/*min-height: 450px;  */
	/*width:300px; */
	/*height:300px; */
	/*background-image: url("../img/dark_listings.png");*/
	background-position: center;
	/*background-repeat: repeat-x;*/
	background-image:url("../img/tree_bark.png");
}

.welcome_jumbotron {
	/*margin-top: 200px;*/
	background-image: url("../img/70s.jpg");
	background-position: center;
	background-size: 100%;
    background-repeat: no-repeat;
    width: 60%;
  	height: 50%;
  	min-width: 350px;
  	max-height: 300px;
  	overflow: auto;
  	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}

.welcome_jumbotron>h1{
	color: white;
}

.welcome_jumbotron>p{
	color: white;
}



