body {
	font-family: monospace;
	padding-top: 0;
	background-image:url("../img/tree_bark.png");
	font-size: 14px;
}

.navbar-fontsize{
	font-size: 21px;
	font-family: 'Nothing You Could Do', Helvetica
}

.logo {
	height: 40px;
	width: 40px;
}

#form-font {
	font-size: 19px;
}

.listing-details>a {
	font-family: monospace;
}

#search-results {
	font-size: 19px;

}

.search-titles {
	font-size: 18px;
	color: green;
	font-family: 'Nothing You Could Do', Helvetica
}

.blurb {
	font-size: 17px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.img_container
{
	overflow: hidden;
	height:230px;
}

.measurement-guide-ctn {
	overflow: hidden;
	/*height: 900px;*/
}

.measurement-guide-ctn>img {
	width: 100%;
}

.img_container>img
{
	width:100%;
}
.search_panel {
	background-color: white;
	border-radius: 7px;
	margin-left: 15px;
	font-family: 'Nothing You Could Do', Helvetica
}

#results {
	background-color:white;
	border-radius: 7px;
	margin-left: 15px;
}

.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.submit-btn {
	margin-bottom: 10px;
	margin-top: 5px;
}

.range-input {
	margin-bottom: 10px;
}

.box {
	background-color:#FFF;
	margin-left: 5px;
	margin:10px auto;
	padding: 3px;
	height: 355px;
}

.effect{
	-webkit-box-shadow: 0 10px 6px -3px #777;
	   -moz-box-shadow: 0 10px 6px -3px #777;
	        box-shadow: 0 10px 6px -3px #777;
}

.dress-img {
	width: 200px;
	/*height: 300px;*/
	/*margin-top: 5px;*/
	/*position:relative;*/
}

.listing-img {
	/*width: 400px;*/
	margin-top: 5px;
	text-align: center;
	width: 214px;
	height: 170px;

}

.listing-info {
	background-color:white;
	border-radius: 7px;
	margin-left: 15px
}

/*.listing-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 2px 6px;
}*/

.results-count {
	font-family: 'Nothing You Could Do', Helvetica
}

.form-signin {
	font-family: 'Nothing You Could Do', Helvetica
}
