{% extends 'base.html' %}

{% block body %}
<div class = "container">
<div class = "row">
	<div class = "col-sm-8 well photo-display box effect">
		<img src ="../static/img/dress.jpg" class="listing-img">
	</div>

	<div class = "col-sm-3 well listing-info">
		<h2> Title</h2>
		<h3>Price</h3>
	</div>
</div>

<div class = "listing-description well">
	<h2> description</h2>
	<p> 
Purple and black floral print. Sheer detailing at front and back neckline. Cinched at waist with decorative bow. Full skirt. Zipper up back. Clasp behind neck. Lined. Good vintage condition- a hole 1-inch in length on sheer on back of skirt, barely noticeable. Please note: petticoat worn under skirt for added volume. This piece has also been professionally dry cleaned.

Label:	Johnnye Jr.
Fabric:	Nylon?
Estimated Size:	XS/S
Tag Size:	N/A
Pit to Pit:	17"
Waist:	12"
Hips:	Open
Shoulder:	4"
Sleeve:	-
Length:	41"
Color:	Purple/Black</p>
</div>
</div>
{% endblock %}