{% extends 'base.html' %}

{% block body %}
	<div class = "row">
		<div class = "col-sm-3 search_panel">
			<h4>Your measurements!</h4>

			<form role="form" action="/search_results" method="POST" id="measurements">

			  <div class="form-group">
			    <label for="description">Description</label>
			    <input type="text" name="description" class="form-control" id="description" placeholder="Search for dresses.">
			  </div>

<!-- 			  <form role= "form form-inline"> -->
			  <div class="form-group">
			    	<label for="bust">Bust</label>
			    	<!-- <div> -->
				    	<input type="text" name="min-bust" class="form-control col-sm-1 range-input" id="min-bust" placeholder="min-bust">
				    	<input type="text" name="max-bust" class="form-control col-sm-1 range-input" id="max-bust" placeholder="max-bust">
					<!-- </div> -->
				</div>
              <!-- </form> -->

              <!-- <form role= "form form-inline"> -->
              <div class="form-group">
                    <label for="waist">Waist</label>
                    <!-- <div> -->
                        <input type="text" name="min-waist" class="form-control col-sm-1 range-input" id="min-waist" placeholder="min-waist">
                        <input type="text" name="max-waist" class="form-control col-sm-1 range-input" id="max-waist" placeholder="max-waist">
                    <!-- </div> -->
                </div>
              <!-- </form> -->

              <!-- <form role= "form form-inline"> -->
              <div class="form-group">
                    <label for="hip">Hips</label>
                    <!-- <div> -->
                        <input type="text" name="min-hip" class="form-control col-sm-1 range-input" id="min-hip" placeholder="min-hip">
                        <input type="text" name="max-hip" class="form-control col-sm-1 range-input" id="max-hip" placeholder="max-hip">
                    <!-- </div> -->
                </div>
                <button type="submit" class="btn btn-default submit-btn" id="search-results">Submit</button>
              </form>
          </div>

<!-- the result of the search will be rendered inside this div -->
          <div class= "col-sm-8 well well-lg" id = "results">
                <h4>A tailored experience. Blurb about how to measure, etc.</h4>
                <img src="../static/img/measurement_guide.jpg">
          </div>
        </div> <!-- end of search results -->
       </div>
			
<script type="text/javascript">
// when the document is ready, log it. When the measurements id form is submitted, prevent the default
// behavior, jquery ajax object is passed an object(key value pairs), when it is done getting info from that route, log it.


$(document).ready(function(){
	console.log("Document ready.");

	// process the form
	$('#measurements').submit(function(event){

		// get the form data
		// formData = $(this).serializeArray());

		// stop the form from submitting the normal way and refreshing the page
		event.preventDefault();
		console.log("form submitted");

		// process the form
		$.ajax({
			"url": "/search_results",
			"type": "POST",
			data: $('#measurements').serialize()
		})
			// using the done promise callback, data is the response
			.done(function(data){
				 // Put the results in a div
				// var content = $(data).find("search-content");
				$("#results").empty().append(data);

			// log the data to the console
			console.log(data);
		});

	});
});


function main() {

}
</script>

{% endblock %}
