{% extends 'base.html' %}

{% block body %}
	<div class = "row">
		<div class = "col-sm-3 search_panel">
			<h3>Please input your measurements in inches.</h3>

			<form role="form" action="/search_results" method="POST" id="measurements">
        <!-- Pagination, disabled for now.
          <input type="hidden" name="limit" value="30"/>
          <input type="hidden" name="offset" value="0"/>
        -->

			  <div class="form-group">
			    <label for="description" class="search-titles" >Description</label>
			    <input type="text" name="description" class="form-control" id="form-font" placeholder="Search for dresses.">
			  </div>

<!-- 			  <form role= "form form-inline"> -->
			  <div class="form-group">
			    	<label for="bust" class="search-titles">Bust</label>
			    	<!-- <div> -->
				    	<input type="text" name="min-bust" class="form-control col-sm-1 range-input" id="form-font" placeholder="min-bust">
				    	<input type="text" name="max-bust" class="form-control col-sm-1 range-input" id="form-font" placeholder="max-bust">
					<!-- </div> -->
				</div>
              <!-- </form> -->

              <!-- <form role= "form form-inline"> -->
              <div class="form-group">
                    <label for="waist" class="search-titles" >Waist</label>
                    <!-- <div> -->
                        <input type="text" name="min-waist" class="form-control col-sm-1 range-input" id="form-font" placeholder="min-waist">
                        <input type="text" name="max-waist" class="form-control col-sm-1 range-input" id="form-font" placeholder="max-waist">
                    <!-- </div> -->
                </div>
              <!-- </form> -->

              <!-- <form role= "form form-inline"> -->
              <div class="form-group">
                    <label for="hip" class="search-titles" >Hips</label>
                    <!-- <div> -->
                        <input type="text" name="min-hip" class="form-control col-sm-1 range-input" id="form-font" placeholder="min-hip">
                        <input type="text" name="max-hip" class="form-control col-sm-1 range-input" id="form-font" placeholder="max-hip">
                    <!-- </div> -->
                </div>
                <button type="submit" class="btn btn-default submit-btn" id="search-results">Submit</button>
              </form>
          </div>

<!-- the result of the search will be rendered inside this div -->
          <div class= "container col-sm-8 well well-lg" id = "results">
          		<!-- <div class="container>" -->
          			<div class="row">
                			<img src="../static/img/measurement_guide.jpg" class="col-sm-6">
                		    <div class="col-sm-6">
               				<span class="blurb">Notclothesminded strives to give you a tailored experience. Please measure and input your acceptable range of bust, waist, and hip measurements to quickly find items that fit you.
               				<br>
               				<br>
               				Sellers: We account for many styles of listings, but if you would like to guarantee that your item is included in Notclothesminded, please follow this suggested format:
               				<br>
               				<br>
               				<ul>
               				<li>Bust: 32"</li>
               				<li>Waist: 24"</li>
               				<li>Hip: 34" or free </li>
               			</ul>

               				 </span>
               				</div>
               			</div>
                	</div>
                <!-- </div> -->
          </div>
        </div> <!-- end of search results -->
       </div>
			
<script type="text/javascript">
// when the document is ready, log it. When the measurements id form is submitted, prevent the default
// behavior, jquery ajax object is passed an object(key value pairs), when it is done getting info from that route, log it.


$(document).ready(function(){
	console.log("Document ready.");

	// process the form
	$('#measurements').submit(function(event){

		// get the form data
		// formData = $(this).serializeArray());

		// stop the form from submitting the normal way and refreshing the page
		event.preventDefault();
		console.log("form submitted");

		// process the form
		$.ajax({
			"url": "/search_results",
			"type": "POST",
			data: $('#measurements').serialize()
		})
			// using the done promise callback, data is the response
			.done(function(data){
				 // Put the results in a div
				// var content = $(data).find("search-content");
				$("#results").empty().append(data);

			// log the data to the console
			console.log(data);
		});

	});


});




function main() {

}
</script>

{% endblock %}
