{% extends 'base.html' %}

{% block body %}
<form class="form-signin" method="POST">
    <h2 class="form-signin-heading">Please Sign Up</h2>
    <input type="text" name="first_name" class="form-control" id="form-font" placeholder="First Name" required autofocus />
    <input type="text" name="surname" class="form-control" id="form-font" placeholder="Last Name" required />
    <input type="email" name="email" class="form-control" id="form-font" placeholder="Email Address" required autofocus />
    <input type="password" name="password" class="form-control" id="form-font" placeholder="Password" required />
    <button type="btn btn-lg btn-primary btn-block" type="submit" id="form-font">Sign Up</button>
</form>
{% endblock %}